nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  display:block;
  background:linear-gradient(to right,var(--primary),var(--dark));
}
nav .nav-wrapper{
  position:relative;
  padding:0 8px;
  z-index:2;
  background:transparent;
}
nav .nav-wrapper .nbtn{
  width:40px;
  height:40px;
  border-radius:100px;
  position:relative;
  top:8px;
}
nav .nav-wrapper .sidenav-trigger{
  margin:0;
}
nav .nav-wrapper a i{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
nav .nav-wrapper .brand-logo {
  width:200px;
  margin-left:-25px;
} 
nav .nav-wrapper .brand-logo span{
  position:relative;
  font-size:0.7em;
  top:-3px;
  font-weight:500;
  text-transform:capitalize;
}
#search-container{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:56px;
  box-sizing:border-box;
  display:none;
  z-index:2;
}
#search-input{
  width:100%;
  padding-right:53px;
  box-sizing:border-box;
  font-size:1.3em;
}
#bck{
  position:fixed;
  left:15px;
}
#searchShadow{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  background:rgba(0,0,0,.4);
  z-index:1;
  display:none;
  opacity:0;
  transition:opacity 0.2s linear;
}
#dropdown1{
  width:150px!important;
  top:5px!important;
  border-radius:3px;
}
#tuto{
  z-index:10;
}
.closeT{
  position:fixed;
  top:0;
  right:0;
  font-size:2em;
  padding:15px;
  z-index:11;
}
.autocomplete-content li .highlight{
  color:var(--primary)!important;
}
.section-search input.autocomplete {
  color: #000;
}
.input-field .prefix.active {
  color: #000!important;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #555!important;
  text-transform:capitalize;
}
.dropdown-content{
  width:100%!important;

}
