#allSrc{
  position:relative;
  padding:20px;
}
#allOneSrc{
  position:relative;
  padding:0px;
  z-index:1;
}
#srcTitle{
  position:relative;
  text-transform:none;
  color:#eee;
  width:100%;
  padding:20px;
  background:#888;
  font-weight:550;
  font-size:1.4em;
  z-index:2;
}
#srcTitle h4{
  font-size:0.7em;
  color:#fff;
  color:#ccc;
  text-transform:none;
}
.noRes{
  padding:0 0 07px 25px;
}
.noRes > h5{
  text-transform:unset;
  color:#666;
  font-size:1.2em;
}
.noRes > p{
  display:block;
  line-height:17px;
}
.noRes > h5 > i{
  position:relative;
  top:6px;
}
