#tuto{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#fff;
  opacity:0;
  transition:opacity 0.3s ease;
  overflow:hidden;
}
.cont{
  position:relative;
  height:100%;
  left:0;
  width:200%;
  overflow:scroll;
  display:flex;
  justify-content:flex-start;
  transition:left 0.3s ease;
}
.item{
  width:50%;
  padding:30px 20px;
}
.item > h5{
  color:#555;
  font-size:1.7em;
  font-weight:550;
  margin:0;
  margin-bottom:5px;
}
.item > h4{
  color:#777;
}
.item > p{
  line-height:17px;
  color:#555;
  margin:5px 0 20px 0px;
}
.item > ul li{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  line-height:16px;
  margin-bottom:10px;
  color:#777;
}
.item > ul li span{
  color:#fff;
  border-radius:5px;
  padding:8px 10px;
  margin-right:10px;
  font-size:1.1em;
  font-weight:550;
}

@keyframes gesture{
 from{opacity:0;left:130px;}
 to{opacity:1;left:170px;}
}
#gest{
  width:65px;
  position:relative;
  top:-95px;
  left:170px;
  animation:gesture 0.8s ease infinite;
  z-index:3;
  margin-bottom:-75px;
}
#block{
  position:absolute;
  width:100%;
  height:300px;
  left:0;
  margin-top:-250px;
  z-index:12;
}
#detailsTutorial{
  display:flex;
  justify-content:space-between;
  width:100%;
}
#detailsTutorial > img{
  width:55%;
}
#detailsTutorial > p{
  text-align:right;
  line-height:17px;
  color:#999;
  margin:5px 0 20px 0px;
}
.yls{background:var(--warning);}
.gls{background:var(--secondary);}
.bls{background:var(--disable);}

#dots{
  position:fixed;
  bottom:10px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  justify-content:space-between;
  width:28px;
  z-index:2;
}
#dots li i{
  font-size:0.8em;
  color:#999;
  transition:all 0.3s ease;
}
.currentDot{
  color:#555!important;
  transform:scale(1.2,1.2);
}
